object {
    display: block;
    margin: auto;
}

p code,
li code,
dt code,
dd>code,
blockquote>code,
div.endnote>code,
span.imagecaption>code {
    background-color: rgb(0, 0, 0);
    padding: 2px;
    border-radius: 4px;
}
