<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/s-dotb/vft">VFX Fractal
							Toolkit</a></strong>
					Set of tools for generating fractal and generative art. It was my graduation project, which I
					developed at Filmakademie Baden-Württemberg while studying Technical Directing. It contains tools
					written in OpenCL, OSL, Blink, Python, VEX and JavaScript intended to be used in Houdini, Arnold,
					Nuke or a web browser.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/s-dotb/vex_tutorial">VEX
							Reference Guide</a></strong>
					A guide I wrote for SideFX Houdini VEX scripting language. It tries to describe main language
					features and to provide examples of their usage. Can't remember the exact syntax for a feature in
					VEX? This guide will help you! :-). <a
						href="https://s-dotb.wordpress.com/2018/02/04/houdini-vex-tutorial/">[blog post]</a>
				</h5>
				<h5>
					<i class="fa fa-file-text"></i>&nbsp;&nbsp;<strong><a
							href="https://docs.arnoldrenderer.com/display/A5AFHUG/Rendering+Volumetric+Fractals+With+OSL">
							Rendering Volumetric Fractals With OSL - Arnold Documentation</a></strong>
					Tutorial on rendering volumetric fractals in Open Shading Language in Arnold renderer. This tutorial
					is based on VFX Fractal Toolkit.
				</h5>
				<h5>
					<i class="fa fa-wordpress"></i>&nbsp;&nbsp;<strong><a
							href="https://s-dotb.wordpress.com/2019/04/23/megah-megascans-to-houdini-integration-2/">Megascans
							to Houdini Integration</a></strong>
					Description of Megascans to Houdini integration which I was developing along with Peter Trandžík and
					Ondrej Poláček.
				</h5>
				<h5>
					<i class="fa fa-wordpress"></i>&nbsp;&nbsp;<strong><a
							href="https://s-dotb.wordpress.com/2019/05/09/houdini-2-open3d-first-tests/">Houdini 2
							Open3D</a></strong>
					I built Houdini wrappers around Open3D functionality, which enable me to load point clouds,
					pre-process (downsample, estimate normals, compute FPFH feature) and perform Global and ICP
					registration on them to align them tightly. The aim of this project is to seamlessly integrate
					Open3D functionality with the Houdini toolset.
				</h5>
				<h5>
					<i class="fa fa-wordpress"></i>&nbsp;&nbsp;<strong><a
							href="https://s-dotb.wordpress.com/2018/11/30/photogrammetry-photos-and-colors/">Photogrammetry
							1st</a>, <a
							href="https://s-dotb.wordpress.com/2019/04/09/photogrammetry-3d-reconstruction-and-post-processing/">2nd
							Part</a></strong>
					Documentation of photogrammetry workflow I developed for a student project. The first article
					describes photography workflow: acquisition, conversion, colors management and preparation for
					reconstruction software. The second article takes a look at the 3D reconstruction and geometry post
					processing.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/s-dotb/houdini2vr">Houdini 2 VR</a></strong>
					Preview your Houdini stereo VR renders in a HMD device. This project links Houdini's Render View
					with web browser. It relies on WebVR and works even withouth a VR headset as a panorama viewer. <a
						href="https://s-dotb.wordpress.com/2019/03/23/houdini-2-vr/">[blog post]</a>
				</h5>
				<h5>
					<i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a
							href="https://www.youtube.com/watch?v=x0fz1wM-U1I">Showreel 04/2018</a></strong>
					Compilation of VFX, animation shots and tools I've worked on. Check video description for breakdown.
				</h5>
				<h5>
					<i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a
							href="https://www.youtube.com/watch?v=G6ryx07n_n4">Filmakademie Showreel</a></strong>
					Showreel showing some of the projects I contributed to during my Technical Directing studies at
					Filmakademie Baden-Württemberg.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/s-dotb/vfx_good_night_reading">VFX Good Night Reading</a></strong>
					a.k.a. a collection of interesting research papers, presentations, tutorials on cool topics in VFX.
					Definitely a good reading before sleeping. <a
						href="https://s-dotb.wordpress.com/2018/06/11/learning-resources-about-vfx-and-cg/">[blog
						post]</a>
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/s-dotb/houdini_additional_python_docs">Houdini Additional Python
							Documentation</a></strong>
					Documentation for undocummented Python modules in Houdini. It was auto-generated from docstrings. <a
						href="https://s-dotb.wordpress.com/2018/05/28/houdini-tip-houdini-python-modules-documentation/">[blog
						post]</a>
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://s-dotb.github.io/web_experiments/sdb_he/">Web Panorama Viewer and
							Archviz</a></strong>
					I turned CAD drawings into this scene and provided online presentation.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/s-dotb/batch_textures_convert">Batch Textures / Photos
							Conversion</a></strong>
					PySide tool for parallel conversion of textures. Can be used in Houdini, Maya, Nuke and as a
					standalone. In Nuke it can do raw photos conversion. <a
						href="https://s-dotb.wordpress.com/2018/05/25/batch-textures-conversion-tool/">[blog post -
						intro]</a> <a
						href="https://s-dotb.wordpress.com/2018/11/29/nuke-tip-batch-conversion-of-raw-images-with-dcraw/">[blog
						post - Nuke raw]</a>
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/s-dotb/style_transfer_docker">Docker Images for Artistic Style
							Transfer</a></strong>
					Environments for training and applying three style transfer implementations. All dependencies and
					GPU acceleration included. <a
						href="https://s-dotb.wordpress.com/2019/01/30/style-transfer-docker-images/">[blog post]</a>
				</h5>
				<h5>
					<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://s-dotb.github.io/web_experiments/">Web
							Experiments</a></strong>
					Various experiments with web tech. Mostly 3D graphics and AR.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="https://github.com/s-dotb/VDB_activate_from_points">VDB Activate from
							Points</a></strong>
					Houdini HDK node for activating voxels by point cloud. <a
						href="https://s-dotb.wordpress.com/2017/12/01/creating-simple-c-openvdb-node-in-hdk">[blog
						post]</a>
				</h5>
			</div>
		</div>
	</div>
</section>